<!-- NAVBAR -->
<nav
  id="navbar"
  class="navbar navbar-expand-lg navbar-light fixed-top shadow-sm"
>
  <div class="container">
    <a class="navbar-brand fw-bold" href="#about">Nayla Azzahra</a>

    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navMenu"
    >
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navMenu">
      <ul class="navbar-nav ms-auto">

        <li class="nav-item">
          <a class="nav-link" href="#about">About</a>
        </li>

        <li class="nav-item">
          <a class="nav-link" href="#education">Education</a>
        </li>

        <li class="nav-item">
          <a class="nav-link" href="#skill">Skill</a>
        </li>

        <li class="nav-item">
          <a class="nav-link" href="#organization">Organisasi</a>
        </li>

        <li class="nav-item">
          <a class="nav-link" href="#gallery">Galeri</a>
        </li>

        <li class="nav-item">
          <a class="nav-link" href="#achievement">Prestasi</a>
        </li>

      </ul>
    </div>
  </div>
</nav>
